.formclass{
    padding-top:100px;
    display: flex;
    justify-content: center;
    gap:30px;
    
    }
    #result
    {
     max-width: 500px;
     height:50px;
     border-radius: 20px;
     font-size: 20px;
    }
    .btn{
        width: 170px;
        height:50px;
        border-radius: 50px;
        font-size: 18px;
    
    }
    .search{
        display:flex;
        justify-content: center;
    }
   #deflist{
       padding: 10px;
   }
 .output{
     margin:30px;
 }
    #error{
        color: red;
    }